body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f3f6fc;
    margin: 0;
}

header {
    background-color: #1a2041;
    color: #fff;
    padding: 5px;
    text-align: center;
}
h2 {
    padding: 0;
    margin: 10px;
}
table {
    border-collapse: collapse;
    width: 95%;
    margin: 30px auto;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #d9e3f0;
    color: #333;
}

td.vazio {
    background-color: #f9f9f9;
    cursor: pointer;
    color: #bbb;
}

td.vazio:hover {
    background-color: #e6efff;
    color: #1a2041;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}

.modal-content h2 {
    margin-top: 0;
    color: #1a2041;
}

.modal-content input,
.modal-content select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

.botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    background: #1a2041;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #27306b;
}

td {
    color: #111;
    font-weight: 500;
}

td[style*="#1a2041"],
td[style*="rgb(26, 32, 65)"] {
    color: #fff;
}

.semana-controles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.semana-controles button {
    background-color: #c3002f;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.semana-controles span {
    font-weight: bold;
    color: #1a2041;
}